{% extends 'base.html' %}

{% load cart %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block breadcrumbs %}
    <section id="breadcrumb" class="col-lg-9">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Cart</li>
      </ul>
    </section>
{% endblock %}

{% block content %}
{% if items %}
<div class="col-lg-9">
<h1>Shopping Cart</h1>
<hr>
    <section id="main">
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href='{% url "update_cart" item.product.id %}'>Remove</a>
                            </td>
                            <td>
                                {% for image in item.product.productimage_set.all %}
                                    {% if image.featured_image %}
                                        <img src="{{ MEDIA_URL }}{{ image.image }}"  alt="{{ image.title }}" width="60"/>
                                    {% endif %}
                                {% endfor %}

                            </td>
                            <td>{{ item.product }}</td>
                            <td>{{ item.product.price|floatformat:2 }}</td>
                            <td>{{ item.discount|floatformat:2 }}</td>
                            <td>{{ item.product.price|subtract:item.discount|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" style="text-align:right">Total Price: </td>
                        <td>${{total_price}}</td>
                    </tr>

                    <tr>
                        <td colspan="5" style="text-align:right">Total Discount:  </td>
                        <td>${{total_discount}}</td>
                    </tr>

                    <tr>
                        <td colspan="5" style="text-align:right"><strong>Total</strong></td>
                        <td><strong>${{total_after_discount}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Coupon Code
                </div>
                <div class="panel-body">
                  <form class="form-horizontal" method="POST" action="">
                    <div class="col-md-8">
                      <input type="text" class="form-control" placeholder="CODE">
                    </div>
                    <div class="col-md-4">
                      <button type="submit" class="btn"> ADD </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
              <button type="button" class="btn btn-primary btn-lg pull-right">Pay with PayPal</button>
              </div>
              <div class="row">
              <br>
              <a href="/products" class="pull-right">Continue Shopping <i class="fa fa-angle-double-right"></i></a>
            </div>
            </div>
    </section>
</div>

{% else %}

<h1>Your cart is empty</h1>

{% endif %}
{% endblock %}
