
{% extends "base.html" %}

{% block sidebar %}
{% endblock %}
{% block breadcrumbs %}
    <div class="col-lg-12">
    <section id="breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">About us</li>
        </ul>
      </section>
    </div>
{% endblock %}
<!-- ================== Main Content ========================================= -->

{% block content %}
          <h3>About us</h3>
              <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="seller_feedback">
                      <div class="panel panel-default">
                          <div class="panel-heading">UEXIO is an online textbook marketplace for students</div>
                          <div class="panel-body">
                              <p>UEXIO connects sellers and buyers at universities. Textbook stores do not always offer the best prices for class books so online shops are the next option. Well what if once the order is placed, shipping takes 3-4 business days, but you need the book immediately to start on an assignment? The best part about UEXIO is the ability to find textbooks right at your university. For sellers, you have the option of uploading extra content such as scanned class notes, supplemental guides, etc. UEXIO makes it possible for users to make a higher profit because we keep a fixed 10% of your total price, compared to an average 15% from competing web vendors. We hope you can enjoy what UEXIO brings to the table because we were once in your shoes too. Scroll down to read about the team of developers.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="seller_feedback">
                      <div class="panel panel-default">
                          <div class="panel-heading">Team UEXIO</div>
                              <ul class="list-group">
                                  <li class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left"><img src="http://www.gravatar.com/avatar/6de80c9d48ce5300adbf26fac6f6e01d?s=80&d=mm" width="50" height="50" alt="Profile" border="0"></i>
                                          </div>
                                          <div class="media-body"><b>Kush Patel</b> is the original proposer of UEXIO. Kush is well versed in PHP and effectively tracks issues.
                                          </div>
                                      </div>
                                  </li>
                                  <li class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left"><img src="http://www.gravatar.com/avatar/f3730a689237252a26256231b26195ca?s=80&d=mm" width="50" height="50" alt="Profile" border="0"></i>
                                          </div> 
                                          <div class="media-body"><b>Jordan Hudgens</b> is the head programmer for this project. From setting up the environment to coding in Python to working full-time, this man simply loves what he does.
                                          </div>
                                      </div>
                                  </li>
                                  <li class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left"><img src="http://www.gravatar.com/avatar/46994502c14934382913bc4422622bc8?s=80&d=mm" width="50" height="50" alt="Profile" border="0"></i>
                                          </div>
                                          <div class="media-body"><b>Alex Garcia</b> is an electrical engineering student learning to become a software developer. Contributes mostly in web design.
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                      </div>
                  </div>
              </div>
{% endblock %}
