{% extends "base.html" %}

{% block sidebar %}
{% endblock %}
{% block breadcrumbs %}
    <div class="col-lg-12">
    <section id="breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Contact Us</li>
        </ul>
      </section>
    </div>
{% endblock %}
<!-- ================== Main Content ========================================= -->

{% block content %}
          <div class="col-lg-12">
          <h3>Contact UEXIO</h3>
              <hr>
              <p>We are here for you, real help from real people. We strive to offer great customer service. We have all heard <a href="http://signalvnoise.com/posts/3513-when-empathy-becomes-insulting">stories like this,</a> great customer service is not an easy task. </p>
              <p>So, if you have have any questions about UEXIO, need help with anything on our website or if you just want to say hi, that's cool too.
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Email</th>
                  <td><i class="fa fa-envelope-o"></i> contactus@uex.io</td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td>8063707172</td>
                </tr>
                <tr>
                  <th>Location</th>
                  <td>
                    <p></p>
                    <p>Lubbock, TX </p></td>
                </tr>
              </tbody>
            </table>
          </div>
   {% endblock %}