
{% extends "base.html" %}

{% block sidebar %}
{% endblock %}
{% block breadcrumbs %}
    <div class="col-lg-12">
    <section id="breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">FAQ</li>
        </ul>
      </section>
    </div>
{% endblock %}
<!-- ================== Main Content ========================================= -->

{% block content %}
          <div class="col-lg-12">
          <h3>Frequently Asked Questions (FAQ)</h3>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="seller_feedback">
                <div class="panel panel-default">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Can I sell other items besides textbooks?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                          UEXIO may extend the merchandise list out to allow other school-related materials such as calculators, backpacks, etc but for now it is a marketplace for textbooks only.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            As a seller, what is the point of uploading additional files with a new listing?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                           Any user who creates a listing may sell their own notes along with their textbook. This is where UEXIO excels from the competitors because it allows the seller to put a higher value on their product. Also, the buyer may download the files included with the purchase and use them as they like when they take the course. It's a win-win!
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            If I am selling, where do I enter the price I am charging for shipping?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          The shipping cost should be included in the product price (if any), since UEXIO is only within the U.S. So whenever a seller creates a new listing he/she includes the shipping cost in the price of the product if he wants to.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Where will my purchase be shipped to?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                          Once a sale is made, the seller must ship to the PayPal address of the buyer. If you want to ship to a different address, you can email the seller under the "My Purchases" tab on your profile page.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            How do coupons work?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                          This is another feature UEXIO is proud of having because it will help the seller make a discounted price available to any buyer with the coupon code provided to them via advertisement or from the seller directly. It adds extra incentive for the buyer looking for a good price. To add a coupon code to one of your products, go to "Active Listings" on your profile. Click the "Coupons" button on the right of the product, enter the <b>code</b> and <b>discount</b> amount, then just press "Update". You now have a discount available for your product!
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            If my book hasn't shipped within the estimated shipping period, what should I do?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                          If you have already tried reaching out to the seller via email and you don't receive a timely reply, please contact the administrators immediately through our <a href="/contactus">Contact</a> page. Worst case, we will refund your money back and ban the seller from UEXIO.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endblock %}
