{% extends "base.html" %}

{% block sidebar %}
{% endblock %}
{% block breadcrumbs %}
    <div class="col-lg-12">
    <section id="breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Privacy & Information</li>
        </ul>
      </section>
    </div>
{% endblock %}
<!-- ================== Main Content ========================================= -->

{% block content %}
        <div class="col-lg-12">
          <section id="main">
            <div class="col-lg-12">
              <h2>Privacy Policy</h2>
                <hr>
                  <ul><p>Updated: April 2014</p></ul>
                <h4>Our Commitment to Privacy</h4>
                  <ul><p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.</p></ul>
                <h4>The Information We Collect</h4>
                  <ul><p>This notice applies to all information collected or submitted on this website. On some pages, you can order products, make requests, and register to receive materials. The types of personal information collected at these pages are:</p>
                    <ul><li><p>Name</p></li>
                    <li><p>Email</p></li>
                    <li><p>Phone Number</p></li>
                    </ul>
                  </ul>
                <h4>How We Use Information</h4>
                  <ul><p>We use the information you provide about yourself when placing an order only to complete that order. We do not share this information with outside parties except to the extent necessary to complete that order. We use return e-mail addresses to answer the e-mail we receive. Such addresses are not used for any other purpose and are not shared with outside parties. You can register with our website if you would like to receive our newsletter as well as updates on our new products and services. Information you submit on our website will not be used for this purpose unless you fill out the registration form. Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt out or otherwise prohibit such unrelated uses.</p></ul>
                <h4>Information Security</h4>
                  <ul><p>We store and process your personal information on our computers in the US. We protect your information using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls. We take steps to ensure that the personal information we collect is accurate and up to date, and we provide you with the opportunity to update your information through your account profile settings. We retain information as long as it is necessary and relevant for our operations. In addition, we may retain personal information from closed accounts to comply with the law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigation, enforce our User Agreement and take other actions permitted by law.</p></ul>
                <h4>How to Contact Us</h4>
                  <ul><p>Please contact us at <a href="#">something@something.com</a></p></ul>
            </div>

          </section>
        </div>

{% endblock %}