{% extends "base.html" %}

{% block sidebar %}
{% endblock %}
{% block breadcrumbs %}
    <div class="col-lg-12">
    <section id="breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Terms of Use</li>
        </ul>
      </section>
    </div>
{% endblock %}
<!-- ================== Main Content ========================================= -->

{% block content %}
          <section id="main">
            <div class="col-lg-12">
              <h2>Terms of Use</h2>
                <hr>
                  <ul><p> Updated: April 2014</p></ul>
                <h4>Use</h4>
                  <ul><p> You agree not to use or provide software (except for general purpose web browsers and email clients, or software expressly licensed by us) or services that interact or interoperate with UEXIO, e.g. for downloading, uploading, posting, flagging, emailing, search, or mobile use. Robots, spiders, scripts, scrapers, crawlers, etc. are prohibited, as are misleading, unsolicited, unlawful, and/or spam postings/email. You agree not to collect users' personal and/or contact information ("PI").</p></ul>
                <h4>Buying and Selling</h4>
                  <ul><p> UEXIO is not liable if a seller lies, cheats or steals from you.</p>
                  <p> We will do our best to prevent fraud and help you resolve problems that do arise.</p>
                  </p></ul>
                <h4>Content</h4>
                  <ul><p>This site allows the creation of listings, comments and other content for all the community to see. We are not liable for what our users post, but we will use our best efforts to monitor it.</p></ul>
                <h4>Services & Fees</h4>
                  <ul><p>UEXIO is a facilitator of sales. We are not a retailer, re-seller, or middleman. For facilitating the sale and providing other services, we take a small fee.</p></ul>
                <h4>Safety</h4>
                    <ul><p> We do our best to keep UEXIO safe, but we cannot guarantee it. We need your help to keep UEXIO safe, which includes the following commitments by you:</p>
                    <p> You will not post unauthorized commercial communications (such as spam) on UEXIO.</p>
                    <p> You will not collect users' content or information, or otherwise access UEXIO, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</p>
                    <p> You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on UEXIO.</p>
                    <p> You will not upload viruses or other malicious code.</p>
                    <p> You will not solicit login information or access an account belonging to someone else.</p>
                    <p> You will not bully, intimidate, or harass any user.</p>
                    <p> You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</p>
                    <p> You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements) without appropriate age-based restrictions.</p>
                    <p> You will follow our Promotions Guidelines and all applicable laws if you publicize or offer any contest, giveaway, or sweepstakes (“promotion”) on UEXIO.</p>
                    <p> You will not use UEXIO to do anything unlawful, misleading, malicious, or discriminatory.</p>
                    <p> You will not do anything that could disable, overburden, or impair the proper working or appearance of UEXIO, such as a denial of service attack or interference with page rendering or other UEXIO functionality.</p>
                    <p> You will not facilitate or encourage any violations of this Statement or our policies.</p>
                  </p></ul>
            </div>
          </section>
{% endblock %}