{% extends "base.html" %}

{% load bootstrap %}
{% load bootstrap_pagination %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block breadcrumbs %}
    <section id="breadcrumb" class="col-lg-9">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
          {% if "search" in request.path %}
            <li><a href="/products">All Products</a></li>
            <li class="active">{{ title }}</li>
          {% else %}
              <li class="active">{{ title }}</li>
          {% endif %}
      </ul>
    </section>
{% endblock %}

{% block content %}
        <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-4">
                <h3>{{ title }}</h3>
              </div>
              <div class="col-lg-4 pull-right">
                <form action="" class="form-horizontal col-sm-9 pull-right" method="get">
                  <input type="hidden" name="query" value="{{query}}" />
                  <select class="form-control autosubmit" id="order" name="order">
                    {% if order == 'price' %}
                        <option selected="selected" value="price">Price Low to High</option>
                        <option value="-price">Price High to Low</option>
                    {% else %}
                        <option value="price">Price Low to High</option>
                        <option selected="selected" value="-price">Price High to Low</option>
                    {% endif %}
                  </select>
                </form>
              </div>
            </div>
          <hr>
        </div>
        <div class="col-lg-9">
        {% for product in page %}
            <div class="col-lg-4">
                <div class="thumbnail">
                    {% for image in product.productimage_set.all %}
                        {% if image.featured_image %}
                            <a href="{% url "single_product" product.slug %}">
                                <img src="{{ MEDIA_URL }}{{ image.image }}"  alt="{{ image.title }}" />
                        {% endif %}
                    {% endfor %}
                    <div class="caption">
                        <h5>{{ product }}</h5></a>
                        <p><i class="fa fa-usd"></i> {{ product.price|floatformat:2 }}</p>
                        <h4>
                            {% if product.user == user %}
                                {% add_to_cart_button product 'btn btn-primary btn-block disabled' %}
                            {% else %}
                                {% add_to_cart_button product %}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="col-lg-9 col-lg-offset-3">
            <div class="pull-right">
                {% bootstrap_paginate page %}
            </div>
        </div>

{% endblock %}
