{% extends "base.html" %}

{% load bootstrap %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block breadcrumbs %}
    <section id="breadcrumb" class="col-lg-9">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">All Products</li>
      </ul>
    </section>
{% endblock %}

{% block content %}
        <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-4">
                <h3>{{ title }}</h3>
              </div>
              <div class="col-lg-4 pull-right">
                <form class="form-horizontal col-sm-9 pull-right">
                  <select class="form-control" id="select">
                    <option>Price Low to High</option>
                    <option>Price High to Low</option>
                  </select>
                </form>
              </div>
            </div>
          <hr>
        </div>
        <div class="col-lg-9">
        {% for product in products %}
            <div class="col-lg-4">
                <div class="thumbnail">
                    {% for image in product.productimage_set.all %}
                        {% if image.featured_image %}
                            <a href="{% url "single_product" product.slug %}">
                                <img src="{{ MEDIA_URL }}{{ image.image }}"  alt="{{ image.title }}" />
                        {% endif %}
                    {% endfor %}
                    <div class="caption">
                        <h5>{{ product }}</h5></a>
                        <p> {{ product.headline }}</p>
                        <h4>
                            <button type="button" class="btn btn-default disabled"><i class="fa fa-usd"></i> {{ product.price|floatformat:2 }}</button>
                            {% if product.user == user %}
                                {% add_to_cart_button product 'btn btn-primary disabled' %}
                            {% else %}
                                {% add_to_cart_button product %}
                            {% endif %}
                        </h4>
                    </div>

                </div>
            </div>
        {% endfor %}
            {# placeholder for pagination. Still need to implement #}
            <ul class="pagination pull-right">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>

{% endblock %}
