{# Not fully finished, some form fields not implemented #}
{% extends "profiles/base.html" %}

{% load bootstrap %}


{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li><a href="{% url 'listings' %}">Active Listings</a></li>
              {% if "edit" in request.path %}
                <li class="active">Edit</li>
              {% else %}
                <li class="active">New</li>
              {% endif %}
          </ul>
        </section>
    </div>
{% endblock %}

{% block alert %}
{% if form.errors or image_form.errors %}
    <div class="col-lg-9">
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Couldn't edit the product because of those errors:
            {{ form.errors }}
            {{ image_form.errors }}
        </div>
    </div>
{% endif %}
{% endblock %}

{% block content %}

<div class="col-lg-9">
    <section id="main">
        <div class="row">
        {% if instance.pk %}
          <h1>Edit: {{ instance.title }}</h1>
        {% else %}
          <h1>New Listing</h1>
        {% endif %}
        <hr>
        <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              <label for="id_title" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                {% bootstrap_field_tag form.title %}
                <span class="help-block">The title that you want for your listing.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="id_author" class="col-lg-2 control-label">Author</label>
              <div class="col-lg-10">
                {% bootstrap_field_tag form.author %}
                <span class="help-block">The author of the book.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="id_isbn_number" class="col-lg-2 control-label">ISBN number</label>
              <div class="col-lg-10">
                {% bootstrap_field_tag form.isbn_number %}
                <span class="help-block">The ISBN number of the book.</span>
              </div>
            </div>
                <div class="form-group">
                  <label for="inputHeadline" class="col-lg-2 control-label">Headline</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.headline %}
                    <span class="help-block">A catchy description of your product, that makes the buyer want to buy your product</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="select" class="col-lg-2 control-label">Category</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.category %}
                    <span class="help-block">Category you want your listing to be under</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="id_description" class="col-lg-2 control-label">Description</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.description %}
                    <span class="help-block">Describe in detail your product and what is included for the buyer.</span>
                  </div>
                </div>
                <div class="form-group required">
                  <label for="condition" class="col-lg-2 control-label">Condition</label>
                  <div class="col-lg-10">

                      {{ form.condition }}

                    <span class="help-block">Please be honest here</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="id_price" class="col-lg-2 control-label">Price</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                      {% bootstrap_field_tag form.price %}
                    </div>
                    <span class="help-block">The ask price for your product. Please include reasonable shipping costs(if any).</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="inputPaypal">PayPal Email</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputPaypal" placeholder="{{ user.userprofile.paypal }}" disabled="">
                    <span class="help-block">Your PayPal Email address will be used to accept payment</span>
                  </div>
                </div>
                {% if image_form %}
                    <div class="form-group">
                      <label for="id_image" class="col-lg-2 control-label">Upload Image</label>
                      <div class="col-lg-10">
                        {% bootstrap_field_tag image_form.image %}
                        <span class="help-block">upload the product image</span>
                      </div>
                    </div>
                {% endif %}
                <div class="form-group">
                  <label for="description" class="col-lg-2 control-label">Upload Additional Documents</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.download %}
                    <span class="help-block">upload any other class notes or documents that you want your buyer to have.</span>
                  </div>
                </div>

            <hr>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-success" value="Save">Save</button>
                    <button class="btn btn-default pull-right" value="Cancel">Cancel</button>
                </div>
            </div>
        </form>
            </div>
    </section>
</div>
{% endblock %}
