{# Not fully finished, some form fields not implemented #}
{% extends "profiles/base.html" %}

{% load bootstrap %}


{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li><a href="{% url 'listings' %}">Active Listings</a></li>
              {% if "edit" in request.path %}
                <li class="active">Edit</li>
              {% else %}
                <li class="active">New</li>
              {% endif %}
          </ul>
        </section>
    </div>
{% endblock %}

{% block alert %}
{% if form.errors %}
    <div class="col-lg-9">
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Couldn't edit the product because of those errors:
            {{ form.errors }}
        </div>
    </div>
{% endif %}
{% endblock %}
{% block content %}

<div class="col-lg-9">
    <section id="main">
        <div class="row">
        {% if instance.pk %}
          <h1>Edit: {{ instance.title }}</h1>
        {% else %}
          <h1>New Listing</h1>
        {% endif %}
        <hr>
        <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                  <label for="id_title" class="col-lg-2 control-label">Title</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.title %}
                    <span class="help-block">The title that you want for your listing.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputHeadline" class="col-lg-2 control-label">Headline</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.headline %}
                    <span class="help-block">A catchy description of your product, that makes the buyer want to buy your product</span>
                  </div>
                </div>
                {# future implementation #}
                <!--div class="form-group">
                  <label for="select" class="col-lg-2 control-label">Category</label>
                  <div class="col-lg-10">
                    <select class="form-control" id="select">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <span class="help-block">Category you want your listing to be under</span>
                  </div>
                </div-->
                <div class="form-group">
                  <label for="id_description" class="col-lg-2 control-label">Description</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.description %}
                    <span class="help-block">Describe in detail your product and what is included for the buyer.</span>
                  </div>
                </div>
                <div class="form-group required">
                  <label for="condition" class="col-lg-2 control-label">Condition</label>
                  <div class="col-lg-10">

                      {{ form.condition }}
                    <!--div class="controls widget" style="margin-bottom:0px;">
                      <div class="condition_widget">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>


                              <td width="25%">
                                <label for="id_condition_mint" class="radio">
                                  <input type="radio" id="id_condition_mint" value="1" name="condition" class="required">
                                  New
                                </label>
                                <ul>
                                  <li>In origial packaging</li>
                                  <li>Never Used</li>
                                </ul>
                              </td>
                              <td width="25%">
                                <label for="id_condition_mint" class="radio">
                                  <input type="radio" id="id_condition_mint" value="2" name="condition" class="required">
                                  Mint
                                </label>
                                <ul>
                                  <li>Looks new</li>
                                  <li>No Sign of use</li>
                                </ul>
                              </td>
                              <td width="25%">
                                <label for="id_condition_good" class="radio">
                                  <input type="radio" id="id_condition_good" value="3" name="condition" class="required">
                                  Good
                                </label>
                                <ul>
                                  <li>Normal wear</li>
                                  <li>Some markings</li>
                                </ul>
                              </td>
                              <td width="25%">
                                <label for="id_condition_fair" class="radio">
                                  <input type="radio" id="id_condition_fair" value="fair" name="condition" class="required">
                                  Fair
                                </label>
                                <ul>
                                  <li>Heavily Damaged</li>
                                  <li>Full of markings</li>
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div-->
                    <span class="help-block">Please be honest here</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="id_price" class="col-lg-2 control-label">Price</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                      {% bootstrap_field_tag form.price %}
                    </div>
                    <span class="help-block">The ask price for your product. Please include reasonable shipping costs(if any).</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="inputPaypal">PayPal Email</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputPaypal" placeholder="{{ user.email }}" disabled="">
                    <span class="help-block">Your PayPal Email address will be used to accept payment</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="col-lg-2 control-label">Upload Additional Documents</label>
                  <div class="col-lg-10">
                    {% bootstrap_field_tag form.download %}
                    <span class="help-block">upload any other class notes or documents that you want your buyer to have.</span>
                  </div>
                </div>

            <hr>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-success" value="Save">Save</button>
                    <button class="btn btn-default pull-right" value="Cancel">Cancel</button>
                </div>
            </div>
        </form>
            </div>
    </section>
</div>
{% endblock %}
