{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li><a href="{% url 'listings' %}">Active Listings</a></li>
            <li class="active">Edit</li>
          </ul>
        </section>
    </div>
{% endblock %}

{% block content %}

<div class="row col-lg-9">

<h1>Edit "{{ product.title }}" images</h1>

<form method='POST' action='' enctype="multipart/form-data" class="form-horizontal" role="form">

{% csrf_token %}
{{ formset.management_form }}

{% for form in formset %}
<div class="media">
  <a class="pull-left" href="#">
    {% if form.instance.image %}
      <img src="{{ MEDIA_URL }}{{ form.instance.image }}" width="125" height="93">
    {% endif %}
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      {% if form.instance.title %}
        {{ form.instance.title }}
      {% else %}
        New image
      {% endif %}
    </h4>
    <div class="form-group">
      {% for field in form %}
        {% if not field.is_hidden %}
          {% bootstrap_label_tag field %}
          <div class="col-lg-9">
            {% bootstrap_field_tag field %}
          </div>
        {% else %}
          {{ field }}
        {% endif %}
        {{ field.errors.as_text }}
      {% endfor %}
    </div>
  </div>
</div>

<div>
  {{ form.non_field_errors }}
</div>

{% endfor %}

<input type='submit' value='Update' />

</form>
</div>
{% endblock %}
