{% extends 'profiles/base.html' %}

{% load bootstrap %}

{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li><a href="{% url 'listings' %}">Active Listings</a></li>
            <li class="active">Edit</li>
          </ul>
        </section>
    </div>
{% endblock %}

{% block alert %}
{% if formset.errors %}
    <div class="col-lg-9">
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Couldn't edit the images because of those errors:
            {% for form in formset %}
                {{ form.errors }}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}

{% block content %}

<div class="col-lg-9">
    <div class="row">
        <h1>Edit "{{ product.title }}" images</h1>
        <hr>

        <form method='POST' action='' enctype="multipart/form-data" class="form-horizontal" role="form">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <blockquote>
                    <div class="media">
                        <a class="pull-left" href="#">
                            {% if form.instance.image %}
                                <img src="{{ MEDIA_URL }}{{ form.instance.image }}" width="125" height="93">
                            {% endif %}
                        </a>
                        <div class="media-body">
                            <div class="form-group">
                                {% for field in form %}
                                    {% if not field.is_hidden %}
                                        <div class="col-lg-3" style="padding-bottom: 0px;">
                                            {% bootstrap_label_tag field %}
                                        </div>
                                        <div class="col-lg-9" style="margin-bottom: 20px;">
                                            {% bootstrap_field_tag field %}
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                    {{ field.errors.as_text }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </blockquote>
                <hr>
                <div>
                {{ form.non_field_errors }}
            </div>
            {% endfor %}
                <input type='submit' value='Update' class="btn btn-success" />
        </form>
    </div>
</div>
{% endblock %}
