{% extends "base.html" %}

{% load filename %}
{% load gravatar %}

{% block alert %}
{% if form.errors %}
    <div class="col-lg-9">
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Couldn't add comments because of these errors:
            {{ form.errors }}
        </div>
    </div>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    <section id="breadcrumb">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/products">All Products</a></li>
        <li class="active">{{ product }}</li>
      </ul>
    </section>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueimp-gallery.min.css">

    <section id="main">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">Featured Image</h3>
                </div>
                <div class="panel-body" align="center">
                    {% for image in product.productimage_set.all %}
                        {% if image.featured_image %}
                            <img src="{{ MEDIA_URL }}{{ image.image }}"  alt="{{ image.title }}" width="70%" />
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h1>{{ product }}</h1>
            <p>{{ product.headline }}</p>
            <hr>
            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Add to Cart
                    </div>
                    <div class="panel-body">
                        <div class="price pull-left">
                            <i class="fa fa-usd fa-sm"></i>
                            <span itemprop="price">{{ product.price|floatformat:2 }}</span>
                            <meta itemprop="currency" content="USD">
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-success" href="{% url "update_cart" product.id %}">Add to <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Seller Profile
                        <a href="{% url 'profile' product.user.username %}" class="pull-right">View Profile <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class ="media">
                            <a class="pull-left" href="{% url 'profile' product.user.username %}">
                                <img src="{% gravatar_image_url product.user 50 %}" alt="Profile" width="50" height="50" border="0"/>
                            </a>
                            <div class="media-body">
                                <ul>
                                    <li><b>{{ product.user }}</b></li> {# seller name #}
                                    <li> {{product.user.rating }}</li> {# seller rating goes here #}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="pictures">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pictures
                    </div>
                    <div class="panel-body" id="links">
                        {% for image in images %}
                        <div class="listing_images">
                            <div class="listing_image" align="center">
                                <div style="width: 125px; height: 125px">
                                    <a href="{{ MEDIA_URL }}{{ image.image }}" title="{{ image.title }}" class="lightbox">
                                        <img src="{{ MEDIA_URL }}{{ image.image }}" width="125" height="93" border="0">
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="description">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Description
                    </div>
                    <div class="panel-body">
                        {{ product.description }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Included Materials
                    </div>
                    <div class="panel-body">
                        <ul>
                            {# list of included material goes here #}
                            <li>this</li>
                            <li>that</li>
                        </ul>
                        {% if product.download and downloadable %}
                            <a class="btn btn-success" href="download/{{ product.download|filename }}">Download</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="comments">
        <div class="row">
            <div class="col-md-12">
                <div class="comments">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Comments
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% if not comments %}
                                    No Comments
                                {% else %}
                                    {% for comment in comments %}
                                    <li class="list-group-item">
                                        <div class="comment">
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object" src="{% gravatar_image_url comment.user 50 %}" width="50" height="50" border="0" />
                                                </a>
                                                <div class="media-body">
                                                    <a href="#">{{comment.user}}</a>
                                                    {% if comment.user.is_superuser %}
                                                    <span class="label label-success">Staff</span>
                                                    {% endif %}
                                                    <div class="text" >
                                                        <p>{{comment}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Add Comment
                    </div>
                    <div class="panel-body">
                        <p>
                            Note: Comments are public and visible to everyone
                        </p>
                        <form id="commentForm" action="{% url 'comment' product.slug %}" method="post" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="id_content">Comment</label>
                                <textarea class="form-control" id="id_content" name="content" placeholder="Comment"></textarea>
                            </div>
                            <div>
                                <div style="float:left;">
                                    <button id="submit_button" class="btn btn-primary">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                    <p class="alert alert-warning">
                        <a class="btn btn-primary" href="{% url 'login' %}">Login</a> Please Login to Add a comment
                    </p>
                {% endif %}
            </div>
        </div>
    </section>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

    <script src="{{ STATIC_URL }}js/blueimp-gallery.min.js"></script>
    <script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

{% endblock %}
