{% load bootstrap %}

<!-- ================== Sidebar ========================================= -->
          <div id="sidebar" class="col-lg-3">
            <div class="well well-small">
              <a href="/products"> All Products <i class="fa fa-angle-double-right"></i> </a>
            </div>
            <ul id="sideManu" class="nav nav-pills nav-stacked">
                {% for category in categories %}
                    <li><a href="{% url 'category' category.slug %}"> {{ category }}</a> </li>
                {% endfor %}
            </ul>

            <br />
            {# list the featured products in the side bar #}
            {% for product in products.featured %}
                <div class="thumbnail">
                    {% for image in product.productimage_set.all %}
                        {% if image.featured_image %}
                            <img src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.title }}" />
                        {% endif %}
                    {% endfor %}
                    <div class="caption">
                        <h5>{{ product.title }}</h5>
                        <h4>
                            <button type="button" class="btn btn-default disabled">{{ product.price }}</button>
                            {% if product.user == user %}
                                {% add_to_cart_button product 'btn btn-primary disabled' %}
                            {% else %}
                                {% add_to_cart_button product %}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            {% endfor %}

            <div class="text-center">
              <div class="caption">
                <h5 align="center">Payment Methods</h5>
              </div>
                <!-- PayPal Logo -->
                <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" width="200px" alt="PayPal Acceptance Mark">
                </a>
                <!-- PayPal Logo -->
            </div>
          </div>

          <!-- **** end Sidebar ***** -->
