{% load urls %}

<div class="row">
    <div class="table_container">
        <table id="table_library" class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th class="col-sm-3">Title</th>
                    <th class="col-sm-4">Headline</th>
                    <th class="col-sm-2">Price</th>
                    <th class="col-sm-4">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <a href="{% product_url product %}">{{ product }}</a>
                    </td>
                    <td>
                        {{ product.headline|truncatechars:100 }}
                    </td>
                    <td>
                        <i class="fa fa-usd"></i>{{ product.price|floatformat:2 }}
                    </td>
                    <td>
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-primary" role="button" style="text-decoration: none; margin-bottom: 5px;">Edit</a>
                        <a href="{% url 'manage_coupons' product.id %}" class="btn btn-primary btn-sm" role="button" style="text-decoration: none; margin-bottom: 5px;">Coupons</a>
                        <a href="{% url 'manage_product_image' product.id %}" class="btn btn-primary btn-sm" role="button" style="text-decoration: none; margin-bottom: 5px;">Images</a>
                        {% if product.is_active %}
                        <form action="{% url 'deactivate_product' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning">Deactivate</button>
                        </form>
                        {% elif product.can_activate %}
                        <form action="{% url 'activate_product' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-success">Activate</button>
                        </form>
                        {% else %}
                        <form action="#">
                            <button type="button" class="btn btn-sm btn-success disabled">Activate</button>
                            <small class="text-warning"><br>At least one image needs to be uploaded.</small>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
