{% extends 'base.html' %}

{% block sidebar %}
    <div id="sidebar" class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading">My Account</div>
            <ul class="list-group">
              <a id="nav_view_profile" class="list-group-item {% if request.path == current_user_profile_url %} active {% endif %}" href="{{ current_user_profile_url }}" title="View Profile">View Profile</a>
              <a id="nav_edit_profile" class="list-group-item {% if request.path == '/profile/edit/' %} active {% endif %}" href="/profile/edit/" title="Edit Profile">Edit Profile</a>
              <a id="nav_edit_password" class="list-group-item {% if request.path == '/profile/edit_password/' %} active {% endif %}" href="/profile/edit_password/" title="Change Password">Change Password</a>
              <a id="nav_active_listings" class="list-group-item {% if request.path == '/profile/listings/' %} active {% endif %}" href="/profile/listings/" title="Active Listings">Active Listings</a>
              <a id="nav_my_library" class="list-group-item {% if request.path == '/profile/library/' %} active {% endif %}" href="/profile/library/" title="My Library">My Library</a>
              <a id="nav_my_purchases" class="list-group-item {% if request.path == '/profile/mypurchases/' %} active {% endif %}" href="/profile/mypurchases" title="My Purchases">My Purchases</a>
              <a id="nav_my_sold_items" class="list-group-item {% if request.path == '/profile/mysolditems/' %} active {% endif %}" href="/profile/mysolditems" title="My Sold Items">My Sold Items</a>
            </ul>
          </div>
            {% if request.path == '/products/add/' %}
              <div class="panel panel-default">
                <div class="panel-heading">Listing Help</div>
                <div class="panel-body">
                  Supply enough information to make the buying decision easy. Please ensure that all products and content comply with our Selling policies and restrictions including the Restricted Products policy.
                </div>
              </div>
            {% endif %}

        </div>
{% endblock %}
