{% extends 'profiles/base.html' %}
{% load filename %}

{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li class="active">My Library</li>
          </ul>
        </section>
    </div>
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <h1>My Library</h1>
    <hr />
    <section id="main">
        <div class="row">
            <div class="table_container">
                <table id="table_library" class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-3">Title</th>
                            <th class="col-sm-6">Description</th>
                            <th class="col-sm-3">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    {{ product }}
                                </td>
                                <td>
                                    {{ product.description }}
                                </td>
                                <td>
                                    {% if product.download %}
                                        <a href='{{ product.download.url }}'>Download Materials</a>
                                    {% else %}
                                        <span class="text-muted">no downloads available</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock %}
