{% extends 'profiles/base.html' %}
{% load filename %}

{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li class="active">Active Listings</li>
          </ul>
        </section>
    </div>
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <h1>Active Listings</h1>
    <hr />
    <section id="main">
        <div class="row">
            <div class="table_container">
                <table id="table_library" class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    {{ product }}
                                </td>
                                <td>
                                    {{ product.author }}
                                </td>
                                <td>
                                    {{ product.description }}
                                </td>
                                <td>
                                    <a href="{% url 'edit_product' product.slug %}" class="btn btn-sm btn-primary" role="button">Edit</a>
                                    <a href="{% url 'manage_coupons' product.slug %}" class="btn btn-primary btn-sm" role="button">Coupons</a>
                                    {% if product.active %}
                                        <form action="/products/{{product.slug}}/deactivate/" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-warning">Deactivate</button>
                                        </form>
                                    {% else %}
                                        <form action="/products/{{product.slug}}/activate/" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-success">Activate</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <a href="{% url 'add_product' %}" class="btn btn-success btn-lg" role="button">Add new product</a>
</div>

{% endblock %}
