{% extends 'profiles/base.html' %}

{% load filename %}

{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li class="active">My Purchases</li>
          </ul>
        </section>
    </div>
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <h1>My Purchases</h1>
    <hr />
    <section id="main">
        <div class="row">
            <div class="table_container">
                <table id="table_library" class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Order #</th>
                            <th class="col-sm-5">Title</th>
                            <th class="col-sm-2">Seller</th>
                            <th class="col-sm-2">Price</th>
                            <th class="col-sm-2">Bought on</th>
                            <th class="col-sm-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                            {% for product in purchase.product_set.all %}
                                <tr>
                                    <td>
                                        {{ purchase.transaction_id }}/{{ forloop.counter0 | add:1 }}
                                    </td>
                                    <td>
                                        {{ product.title }}
                                    </td>
                                    <td>
                                        <a href="{% url 'profile' product.user.username %}">{{ product.user.username }}</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-usd"></i>{{ product.sold_for|floatformat:2 }}
                                    </td>
                                    <td>
                                        {{ purchase.timestamp }}
                                    </td>
                                    <td>
                                        <a href="mailto:{{ product.user.email }}" class="btn btn-sm btn-primary action-btn" role="button">Message the seller</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock %}
