{% extends 'profiles/base.html' %}

{% load filename %}

{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'profile' user.username %}">Profile</a></li>
            <li class="active">My Purchases</li>
          </ul>
        </section>
    </div>
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <h1>My Purchases</h1>
    <hr />
    <section id="main">
        <div class="row">
            <div class="table_container">
                <table id="table_library" class="table table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Order #</th>
                            <th class="col-sm-7">Title</th>
                            <th class="col-sm-2">Price</th>
                            <th class="col-sm-2">Bought on</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                            <tr>
                                <td>
                                    {{ purchase.transaction_id }}
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                    {% for product in purchase.product_set.all %}
                                        <li>
                                            {{ product.title }}
                                            <small class="text-muted">
                                                for <i class="fa fa-usd"></i>{{ product.sold_for|floatformat:2 }}
                                                from <a href="{% url 'profile' product.user.username %}">{{ product.user.username }}</a>
                                            </small>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <i class="fa fa-usd"></i>{{ purchase.total|floatformat:2 }}
                                </td>
                                <td>
                                    {{ purchase.timestamp }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

{% endblock %}
