{% extends 'profiles/base.html' %}

{% load bootstrap %}
{% load gravatar %}
{% load urls %}

{% block breadcrumbs %}
    <div class="col-lg-9">
        <section id="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Profile</li>
          </ul>
        </section>
    </div>
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <h1>
    {% if profile_user == user %}
        My Profile
    {% else %}
        {{ profile_user.username }}'s Profile
    {% endif %}
    </h1>
    <hr />
    <section id="main">
        <div class="col-lg-2">
            <img src="{% gravatar_image_url profile_user %}" alt="Profile Picture" width="80" height="80" border="0" />
        </div>
        <div class="col-lg-10">
            <div class="row">
                <ul>
                    <li><b>User since:</b> {{ profile_user.date_joined|date }}</li>
                    <li><b>Active Listings:</b> {{ products.count }}</li>
                    <li><b>Items Sold:</b> {{ products_sold_count }}</li>
                    <li><b>User Rating:</b> {{ profile_user.avg_rating|default_if_none:"-" }} / 5.0</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#user_feedback" data-toggle="tab">User Feedback</a></li>
                <li><a href="#active_listings" data-toggle="tab">Active Listings</a></li>
            </ul>
            <div id="tabsContent" class="tab-content">
                <div class="tab-pane fade active in" id="user_feedback">
                    {% if not profile_user.reviews_received.all %}
                        <blockquote>
                            <p>This user has not received any feedback</p>
                        </blockquote>
                    {% else %}
                        {% for review in profile_user.reviews_received.all %} {# from all the feedbacks received for this user #}
                        <blockquote>
                            <p>{{ review.content }}</p>  {# populate the feedback #}
                            <p>Rating: {{ review.rating }}</p> {# to be styled with stars or similar #}
                            <small>{{ review.author }} on {{ review.timestamp|date }}</small>    {# and feedback received by #}
                        </blockquote>
                        {% endfor %}
                    {% endif %}
                    <hr>
                    <div class="row text-center">
                        {% if can_review %}
                            <a href="{% url 'review_seller' profile_user.username %}" class="btn btn-primary">Review this seller</a>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane fade in" id="active_listings">
                    {% if not products.all %}
                        <blockquote>
                            <p>This user does not have any active listings</p>
                        </blockquote>
                    {% else %}
                        {% for product in products.all %}   {# for all the products that this user is currently selling #}
                            <blockquote>
                                <div class="media">
                                    {% for image in product.productimage_set.all %}      {# populate the featured image #}
                                        {% if image.featured_image %}
                                            <a class="pull-left" href="{% product_url product %}">
                                                <img class="media-object" src="{{ MEDIA_URL }}{{ image.image }}" width="100" height="100" border="0" />
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="media-body">
                                        <a href="{% product_url product %}"><h5>{{ product }}</h5></a>
                                        <div class="text" >
                                            <p>{{product.headline}}</p>
                                        </div>
                                        <h4 class="pull-right">
                                        <button type="button" class="btn btn-default disabled"><i class="fa fa-usd"></i> {{ product.price|floatformat:2 }}</button>
                                        {% if product.user == user %}
                                            {% add_to_cart_button product 'btn btn-primary disabled' %}
                                        {% else %}
                                            {% add_to_cart_button product %}
                                        {% endif %}
                                    </h4>
                                    </div>
                                </div>
                            </blockquote>
                            <hr>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
